.dropdown:global {
  position: relative;
  z-index: 0;
  display: block;
  & > .popup {
    position: absolute;
    left: -20px;
    right: 0;
    bottom: calc(100% + 12px);
    display: grid;
    row-gap: 4px;
    width: 230px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px hsl(0 0% 0% / 25%);
    transform: translateY(var(--translate-y));
    opacity: var(--opacity);
    transition-property: transform, opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in;
    pointer-events: var(--pointer-events);
    &:not(.is-shown) {
      --translate-y: 4px;
      --opacity: 0;
      --pointer-events: none;
    }
    &.is-shown {
      --translate-y: 0;
      --opacity: 1;
      --pointer-events: inherit;
    }
    & > .link {
      padding-left: 20px;
      padding-right: 20px;
      line-height: 24px;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #1c1c1c;
      background-color: var(--background-color);
      box-shadow: inset 0 0 1px var(--box-shadow-color);
      transition-property: background-color, box-shadow;
      transition-duration: .2s;
      transition-timing-function: ease-in;
      cursor: pointer;
      &:not(.hover) {
        --background-color: #fff;
        --box-shadow-color: hsl(0 0% 0% / 0%);
      }
      &:hover {
        --background-color: #f9f9f9;
        --box-shadow-color: hsl(0 0% 0% / 25%);
      }
    }
  }
  & > .link {
    display: block;
    & > .button {
      display: block;
      line-height: 16px;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--color);
      transition-property: color;
      transition-duration: .2s;
      transition-timing-function: ease-in;
      &:not(:hover) {
        --color: #777;
      }
      &:hover {
        --color: #000;
      }
    }
  }
}
