:local(.sidebar):global {
  overflow: hidden auto;
  position: relative;
  z-index: 0;
  display: block;
  padding-top: 20px;
  & > .section {
    display: block;
    & > .divider {
      display: block;
      height: 1px;
      margin-bottom: 20px;
      background-color: #e5e5e5;
    }
    & > .calculations {
      display: block;
      & > .section {
        display: grid;
        column-gap: 8px;
        grid-template-columns: 1fr auto;
        &:nth-of-type(n+2) {
          margin-top: 12px;
        }
        & > :matches(.label, .value) {
          line-height: 16px;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        & > .label {
          color: #1c1c1c;
        }
        & > .value {
          color: #1c1c1c;
        }
      }
      & > .promo-form {
        visibility: var(--visibility);
        grid-column: span 2;
        overflow: hidden;
        display: grid;
        column-gap: 12px;
        grid-template-columns: 1fr auto;
        align-items: start;
        height: var(--height);
        transform: translateY(var(--translate-y));
        opacity: var(--opacity);
        transition-property: visibility, height, transform, opacity;
        transition-duration: .2s;
        transition-timing-function: ease-in;
        pointer-events: var(--pointer-events);
        &:not(.is-shown) {
          --visibility: hidden;
          --height: 0;
          --translate-y: -12px;
          --opacity: 0;
          --pointer-events: none;
        }
        &.is-shown {
          --visibility: inherit;
          --height: calc(12px + 34px + 16px);
          --translate-y: 0;
          --opacity: 1;
          --pointer-events: inherit;
        }
        & > :matches(.field, .button) {
          margin-top: 12px;
        }
        & > .field {

        }
        & > .button {
          width: 34px;
          height: 34px;
        }
      }
    }
    & > .form-wrapper {
      display: contents;
      & > .shipping-addresss-section {
        visibility: var(--visibility);
        overflow: hidden;
        display: grid;
        gap: 20px 8px;
        grid-template-columns: 1fr auto;
        align-content: start;
        height: var(--height);
        transform: translateY(var(--translate-y));
        opacity: var(--opacity);
        transition-property: visibility, height, margin-top, transform, opacity;
        transition-duration: .2s;
        transition-timing-function: ease-in;
        pointer-events: var(--pointer-events);
        &:not(.is-shown) {
          --visibility: hidden;
          --height: 0;
          --margin-top: 0;
          --translate-y: -12px;
          --opacity: 0;
          --pointer-events: none;
        }
        &.is-shown {
          --visibility: inherit;
          --margin-top: 12px;
          --translate-y: 0;
          --opacity: 1;
          --pointer-events: inherit;
          &:not(.is-form-shown) {
            --height: calc(20px + 1px + 20px + 16px);
          }
          &.is-form-shown {
            --height: calc(20px + 1px + 20px + 16px + 20px + var(--form-height) + 16px);
          }
        }
        & > .divider {
          grid-column: span 2;
          display: block;
          height: 1px;
          margin-top: 20px;
          background-color: #e5e5e5;
        }
        & > :matches(.label, .value) {
          line-height: 16px;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        & > .label {
          color: #1c1c1c;
        }
        & > .value {
          color: #1c1c1c;
        }
        & > .form {
          grid-column: span 2;
          position: relative;
          display: grid;
          row-gap: 20px;
          & > .field {

          }
          & > .divider {
            display: block;
            height: 1px;
            background-color: #e5e5e5;
          }
          & > .loading {

          }
          & > .error-message {
            display: grid;
            place-content: center;
            width: 100%;
            height: 48px;
            line-height: 17px;
            font-size: 11px;
            text-align: center;
            letter-spacing: .32px;
            color: #bc1b1b;
          }
        }
      }
      & > .shipping-method-section {
        visibility: var(--visibility);
        overflow: hidden;
        display: grid;
        gap: 20px 8px;
        grid-template-columns: 1fr auto;
        align-content: start;
        height: var(--height);
        transform: translateY(var(--translate-y));
        opacity: var(--opacity);
        transition-property: visibility, height, margin-top, transform, opacity;
        transition-duration: .2s;
        transition-timing-function: ease-in;
        pointer-events: var(--pointer-events);
        &:not(.is-shown) {
          --visibility: hidden;
          --height: 0;
          --margin-top: 0;
          --translate-y: -12px;
          --opacity: 0;
          --pointer-events: none;
        }
        &.is-shown {
          --visibility: inherit;
          --margin-top: 12px;
          --translate-y: 0;
          --opacity: 1;
          --pointer-events: inherit;
          &:not(.is-form-shown) {
            --height: calc(20px + 1px + 20px + 16px);
          }
          &.is-form-shown {
            --height: calc(20px + 1px + 20px + 16px + 20px + 56px + 16px);
          }
        }
        & > .divider {
          grid-column: span 2;
          display: block;
          height: 1px;
          margin-top: 20px;
          background-color: #e5e5e5;
        }
        & > :matches(.label, .value) {
          line-height: 16px;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        & > .label {
          color: #1c1c1c;
        }
        & > .value {
          color: #1c1c1c;
        }
        & > .form {
          grid-column: span 2;
          position: relative;
          display: grid;
          gap: 20px;
          grid-template-columns: 1fr 1fr;
          height: 56px;
          & > .span--1 {
            grid-column: span 1;
          }
          & > .span--2 {
            grid-column: span 2;
          }
          & > .field {

          }
          & > .divider {
            display: block;
            height: 1px;
            background-color: #e5e5e5;
          }
          & > .loading {

          }
          & > .error-message {
            display: grid;
            place-content: center;
            width: 100%;
            height: 48px;
            line-height: 17px;
            font-size: 11px;
            text-align: center;
            letter-spacing: .32px;
            color: #bc1b1b;
          }
        }
      }
      & > .total-section {
        visibility: var(--visibility);
        overflow: hidden;
        display: grid;
        gap: 20px 8px;
        grid-template-columns: 1fr auto;
        align-content: start;
        height: var(--height);
        transform: translateY(var(--translate-y));
        opacity: var(--opacity);
        transition-property: visibility, height, margin-top, transform, opacity;
        transition-duration: .2s;
        transition-timing-function: ease-in;
        pointer-events: var(--pointer-events);
        &:not(.is-shown) {
          --visibility: hidden;
          --height: 0;
          --margin-top: 0;
          --translate-y: -12px;
          --opacity: 0;
          --pointer-events: none;
        }
        &.is-shown {
          --visibility: inherit;
          --height: calc(20px + 1px + 20px + 16px + 16px);
          --margin-top: 12px;
          --translate-y: 0;
          --opacity: 1;
          --pointer-events: inherit;
        }
        & > .divider {
          grid-column: span 2;
          display: block;
          height: 1px;
          margin-top: 20px;
          background-color: #e5e5e5;
        }
        & > :matches(.label, .value) {
          line-height: 16px;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        & > .label {
          color: #1c1c1c;
        }
        & > .value {
          color: #1c1c1c;
        }
      }
      & > .action-buttons {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
        & > .button {
          &:nth-of-type(1) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
          &:nth-of-type(2) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
  @media (--t-max) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: calc(20px - 16px + 38px);
    & > .section {
      & > .divider {

      }
      & > .calculations {

      }
      & > .form-wrapper {
        & > .shipping-addresss-section {
          --form-height: 574px;
        }
        & > .shipping-method-section {

        }
        & > .total-section {

        }
        & > .action-buttons {
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
  @media (--l-min) {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    & > .section {
      & > .divider {

      }
      & > .calculations {

      }
      & > .form-wrapper {
        & > .shipping-addresss-section {
          --form-height: 304px;
          & > .divider {

          }
          & > .label {

          }
          & > .value {

          }
          & > .form {
            column-gap: 20px;
            grid-template-columns: 1fr 1fr;
            & > .span--1 {
              grid-column: span 1;
            }
            & > .span--2 {
              grid-column: span 2;
            }
            & > .field {

            }
            & > .divider {

            }
            & > .loading {

            }
            & > .error-message {

            }
          }
        }
        & > .shipping-method-section {

        }
        & > .total-section {

        }
        & > .action-buttons {
          left: 60px;
          right: 60px;
          bottom: 30px;
        }
      }
    }
  }
}
