{
  "presets": [
    "next/babel"
  ],

  "plugins": [
    "inline-json-import",

    ["module-resolver", {"root": ["./"], "alias": {
      "components": "./components",
      "pages": "./pages",
      "settings": "./settings"
    }}]
  ],

   "env": {
     "test": {
       "plugins":[
         "import-graphql"
       ]
     }
   }
}
