.item__3xO9G {
  overflow: hidden;
  position: relative;
  z-index: 0;
  display: grid;
  grid-column-gap: 8px;
  column-gap: 8px;
  grid-auto-flow: column;
  align-items: center;
  height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 1px;
  box-shadow: 0 0 0 1px #e5e5e5 inset;
  cursor: pointer
}
.item__3xO9G > .title {
    line-height: 16px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1c1c1c;
  }
.item__3xO9G > .button {
    --icon--size: 10px;
    width: 10px;
    height: 10px
  }
.item__3xO9G > .button:not(:hover) {
      --icon--color: #777;
    }
.item__3xO9G > .button:hover {
      --icon--color: #000;
    }
.item__3xO9G > .button::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }


  .appliedFilters__3GGqf > .wrapper {
    --gap: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: calc(var(--gap) / 2 * -1)
  }
.appliedFilters__3GGqf > .wrapper > .item, .appliedFilters__3GGqf > .wrapper > .button-wrapper {
      margin: calc(var(--gap) / 2);
    }
.appliedFilters__3GGqf > .wrapper > .item {

    }
.appliedFilters__3GGqf > .wrapper > .button-wrapper {
      padding-top: 4px;
      padding-bottom: 4px
    }
.appliedFilters__3GGqf > .wrapper > .button-wrapper > .wrapper > .button {
          display: block;
          line-height: 16px;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: var(--color);
          transition-property: color;
          transition-duration: .2s;
          transition-timing-function: ease-in
        }
.appliedFilters__3GGqf > .wrapper > .button-wrapper > .wrapper > .button:not(:hover) {
            --color: #777;
          }
.appliedFilters__3GGqf > .wrapper > .button-wrapper > .wrapper > .button:hover {
            --color: #000;
          }
@media (max-width: 1023px) {
    .appliedFilters__3GGqf:not(.is-shown) {
      display: none;
    }
    .appliedFilters__3GGqf.is-shown {
      display: block;
    }
  }
@media (min-width: 1024px) {
    .appliedFilters__3GGqf {
    display: block
}
  }

.breadcrumbs__35rnL {
  display: block;
  line-height: 16px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px
}
.breadcrumbs__35rnL > .item {
    display: inline;
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: ease-in
  }
.breadcrumbs__35rnL > .item:nth-last-of-type(n+2):not(:hover) {
        color: #a1a1a1;
      }
.breadcrumbs__35rnL > .item:nth-last-of-type(n+2):hover {
        color: #1c1c1c;
      }
.breadcrumbs__35rnL > .item:nth-last-of-type(1) {
      color: #1c1c1c;
    }


  .designers__f5SjW > .buttons {

  }
.designers__f5SjW > .tab {
    --row-quantity: 8;
    --row-gap: 12px;
    --row-height: 20px;
    display: grid;
    grid-gap: var(--row-gap) 2px;
    gap: var(--row-gap) 2px;
    grid-template-columns: repeat(auto-fit, minmax(0, 16%));
    grid-template-rows: repeat(var(--row-quantity), var(--row-height));
    grid-auto-flow: column;
    justify-items: start;
    justify-content: start
  }
.designers__f5SjW > .tab > .section {
      display: contents
    }
.designers__f5SjW > .tab > .section > .link {
        overflow: hidden;
        position: relative;
        z-index: 0;
        display: block;
        max-width: 90%;
        padding-left: 20px;
        line-height: var(--row-height);
        font-size: 10px;
        text-transform: uppercase;
        white-space: nowrap;
        text-overflow: ellipsis;
        letter-spacing: 1px;
        color: var(--color);
        transition-property: color;
        transition-duration: .2s;
        transition-timing-function: ease-in;
        cursor: pointer
      }
.designers__f5SjW > .tab > .section > .link:not(.hover) {
          --color: #777;
        }
.designers__f5SjW > .tab > .section > .link:hover {
          --color: #000;
        }
.designers__f5SjW > .tab > .section > .link:nth-of-type(1) > .letter {
            position: absolute;
            left: 0;
            color: #1c1c1c;
          }
.designers__f5SjW > .tab > .section > .link:nth-of-type(n+2) > .letter {
            display: none;
          }

.tabs__z6UYd {
  display: grid;
  grid-row-gap: 16px;
  row-gap: 16px
}
.tabs__z6UYd > .buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    box-shadow: 0 -1px #e5e5e5 inset
  }
.tabs__z6UYd > .buttons > .button {
      font-size: 10px;
      text-transform: uppercase;
      white-space: nowrap;
      letter-spacing: 1px;
      color: var(--color);
      box-shadow: 0 -1px var(--box-shadow-color) inset;
      transition-property: color, box-shadow;
      transition-duration: .2s;
      transition-timing-function: ease-in;
      cursor: pointer
    }
.tabs__z6UYd > .buttons > .button:not(.is-active) {
        --color: #a1a1a1;
        --box-shadow-color: #e5e5e5;
      }
.tabs__z6UYd > .buttons > .button.is-active {
        --color: #1c1c1c;
        --box-shadow-color: #1c1c1c;
      }
.tabs__z6UYd > .tab {
    /* Safari */
    min-width: 0
  }
.tabs__z6UYd > .tab:not(.is-shown) {
      display: none;
    }
.tabs__z6UYd > .tab.is-shown {

    }
@media (max-width: 1023px) {
    .tabs__z6UYd > .buttons {
      grid-column-gap: 12px;
      column-gap: 12px
    }
      .tabs__z6UYd > .buttons > .button {
        line-height: 28px;
      }
    .tabs__z6UYd > .tab {

    }
  }
@media (min-width: 1024px) {
      .tabs__z6UYd > .buttons > .button {
        padding-left: 20px;
        padding-right: 20px;
        line-height: 40px;
      }
    .tabs__z6UYd > .tab {

    }
  }

.collapsableSection__1QRo- {
  display: grid;
  grid-row-gap: var(--row-gap);
  row-gap: var(--row-gap);
  transition-property: row-gap;
  transition-duration: .2s;
  transition-timing-function: ease-in
}
.collapsableSection__1QRo-:not(.is-collapsed) {
    --row-gap: 12px;
    --header-icons-icon-rotate: 0;
  }
.collapsableSection__1QRo-.is-collapsed {
    --row-gap: 0;
    --header-icons-icon-rotate: 90deg;
  }
.collapsableSection__1QRo- > .header {
    position: relative;
    display: grid;
    grid-column-gap: 8px;
    column-gap: 8px;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    width: 100%;
    height: 24px
  }
.collapsableSection__1QRo- > .header > .title-button {
      line-height: 16px;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #1c1c1c;
      cursor: pointer
    }
.collapsableSection__1QRo- > .header > .title-button::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
.collapsableSection__1QRo- > .header > .title-button > .counter {
        display: inline-block;
        width: 16px;
        height: 14px;
        margin-left: 8px;
        line-height: 14px;
        text-align: center;
        background-color: #e5e5e5;
        border-radius: 1px;
        transform: translateY(var(--translate-y));
        opacity: var(--opacity);
        transition-property: transform, opacity;
        transition-duration: .2s;
        transition-timing-function: ease-in;
        pointer-events: var(--pointer-events)
      }
.collapsableSection__1QRo- > .header > .title-button > .counter:not(.is-shown) {
          --translate-y: 4px;
          --opacity: 0;
          --pointer-events: none;
        }
.collapsableSection__1QRo- > .header > .title-button > .counter.is-shown {
          --translate-y: 0;
          --opacity: 1;
          --pointer-events: inherit;
        }
.collapsableSection__1QRo- > .header > .clear-button {
      z-index: 1;
      transform: translateY(var(--translate-y));
      opacity: var(--opacity);
      transition-property: transform, opacity;
      transition-duration: .2s;
      transition-timing-function: ease-in;
      pointer-events: var(--pointer-events)
    }
.collapsableSection__1QRo- > .header > .clear-button:not(.is-shown) {
        --translate-y: 4px;
        --opacity: 0;
        --pointer-events: none;
      }
.collapsableSection__1QRo- > .header > .clear-button.is-shown {
        --translate-y: 0;
        --opacity: 1;
        --pointer-events: inherit;
      }
.collapsableSection__1QRo- > .header > .clear-button > .button {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        display: block;
        line-height: 16px;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: var(--color);
        transition-property: color;
        transition-duration: .2s;
        transition-timing-function: ease-in
      }
.collapsableSection__1QRo- > .header > .clear-button > .button:not(:hover) {
          --color: #777;
        }
.collapsableSection__1QRo- > .header > .clear-button > .button:hover {
          --color: #000;
        }
.collapsableSection__1QRo- > .header > .icons {
      display: grid
    }
.collapsableSection__1QRo- > .header > .icons > .icon {
        --icon--color: #777;
        --icon--size: 13px;
        grid-area: 1 / 1 / -1 / -1
      }
.collapsableSection__1QRo- > .header > .icons > .icon:nth-of-type(1) {
          transform: rotate(var(--header-icons-icon-rotate));
        }
.collapsableSection__1QRo- > .header > .icons > .icon:nth-of-type(2) {
          transform: rotate(calc(var(--header-icons-icon-rotate) * 2));
        }
.collapsableSection__1QRo- > .list {
    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden auto;
    display: grid;
    grid-row-gap: 12px;
    row-gap: 12px;
    max-height: var(--max-height);
    transition-property: max-height;
    transition-duration: .2s;
    transition-timing-function: ease-in
  }
.collapsableSection__1QRo- > .list:not(.is-shown) {
      --max-height: 0;
    }
.collapsableSection__1QRo- > .list.is-shown {
      --max-height: 240px;
    }


  .price__2-JJu > .head {

  }
.price__2-JJu > .list > .field-wrapper {
      display: block;
      padding-top: 4px;
      padding-bottom: 34px
    }
.price__2-JJu > .list > .field-wrapper > .field {
        display: grid;
        grid-column-gap: 8px;
        column-gap: 8px;
        grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
        align-items: center
      }
.price__2-JJu > .list > .field-wrapper > .field > .field {

        }
.price__2-JJu > .list > .field-wrapper > .field > .divider {
          width: 8px;
          height: 1px;
          background-color: #777;
        }

.item__3uZDv {
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  place-content: center;
  height: 26px
}
.item__3uZDv > .marker {
    display: block;
    height: 100%;
    line-height: 18px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
.item__3uZDv > .input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    box-shadow: 0 0 0 1px var(--box-shadow-color) inset;
    transition-property: box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-in;
    cursor: pointer
  }
.item__3uZDv > .input:not(:checked) {
      --box-shadow-color: #e5e5e5;
    }
.item__3uZDv > .input:checked {
      --box-shadow-color: #1c1c1c;
    }
.item__3uZDv > .input:not(.is-disabled) {
      --background-image: none;
    }
.item__3uZDv > .input.is-disabled {
      --background-image: linear-gradient(-45deg, transparent 0 calc(50% - .5px), #d2d2d2 calc(50% - .5px) calc(50% + .5px), transparent calc(50% + .5px) 100%);
    }

.slider__1_8QU {
  --slider--list-gap: 16px;
  --slider--list-justify-content: start;
  --slider--list-width: 100%;
  --slider--list-slide-width: 100%;
  --slider--navigation-width: 100%;
  --slider--navigation-max-width: auto;
  --slider--navigation-button-size: 32px;
  --slider--navigation-button-icon-size: var(--slider--navigation-button-size);
  --slider--navigation-button-icon-color: #000;
  --slider--navigation-button-shadow-icon-color: #fff;
  --slider--navigation-button-icon-image: url("data: image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z' /></svg>");
  --slider--pagination-gap: 12px;
  --slider--pagination-bottom-indent: 12px;
  --slider--pagination-button-color: #000;
  --slider--pagination-button-border-width: 3px;
  --slider--pagination-button-padding: 3px;
  --slider--pagination-button-background-color: transparent;
  --slider--pagination-button-icon-size: 6px;
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  place-items: center;
  align-content: center;
  justify-content: center;
  place-content: center
}
.slider__1_8QU > .list, .slider__1_8QU > .navigation, .slider__1_8QU > .pagination {
    grid-area: 1 / 1 / -1 / -1;
  }
.slider__1_8QU > .list {
    /* EDGE */
    /* stylelint-disable-next-line property-whitelist */
    -ms-overflow-style: none;
    /* Safari */
    /* stylelint-disable-next-line property-whitelist */
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    overflow: auto hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    z-index: 1;
    display: grid;
    grid-column-gap: var(--slider--list-gap);
    column-gap: var(--slider--list-gap);
    grid-auto-flow: column;
    grid-auto-columns: var(--slider--list-slide-width);
    justify-content: var(--slider--list-justify-content);
    width: var(--slider--list-width);
    height: 100%
  }
.slider__1_8QU > .list::-webkit-scrollbar {
      display: none;
    }
.slider__1_8QU > .list > .slide {
      scroll-snap-align: start;
      contain: layout paint;
    }
.slider__1_8QU > .navigation {
    display: grid;
    grid-template-columns: repeat(2, var(--slider--navigation-button-size));
    justify-content: space-between;
    width: var(--slider--navigation-width);
    max-width: var(--slider--navigation-max-width)
  }
.slider__1_8QU > .navigation > .button {
      position: relative;
      z-index: 2;
      display: block;
      width: var(--slider--navigation-button-size);
      height: var(--slider--navigation-button-size);
      opacity: var(--opacity);
      transition-property: opacity;
      transition-duration: .2s;
      transition-timing-function: ease-in;
      cursor: pointer;
      pointer-events: var(--pointer-events)
    }
.slider__1_8QU > .navigation > .button:not(.is-shown) {
        --opacity: 0;
        --pointer-events: none;
      }
.slider__1_8QU > .navigation > .button.is-shown:not(.is-disabled) {
          --opacity: 1;
          --pointer-events: inherit;
        }
.slider__1_8QU > .navigation > .button.is-shown.is-disabled {
          --opacity: .1;
          --pointer-events: none;
        }
.slider__1_8QU > .navigation > .button.type--prev {
        transform: scaleX(-1);
      }
.slider__1_8QU > .navigation > .button.type--next {
        transform: scaleX(1);
      }
.slider__1_8QU > .navigation > .button::before, .slider__1_8QU > .navigation > .button::after {
        content: "";
        position: absolute;
        left: calc((100% - var(--slider--navigation-button-icon-size)) / 2);
        top: calc((100% - var(--slider--navigation-button-icon-size)) / 2);
        width: var(--slider--navigation-button-icon-size);
        height: var(--slider--navigation-button-icon-size);
        -webkit-mask-image: var(--slider--navigation-button-icon-image);
                mask-image: var(--slider--navigation-button-icon-image);
        -webkit-mask-size: contain;
                mask-size: contain;
        -webkit-mask-position: center;
                mask-position: center;
        -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
        transition-property: opacity;
        transition-duration: .2s;
        transition-timing-function: ease-in;
        pointer-events: none;
      }
.slider__1_8QU > .navigation > .button::before {
        margin-left: -1px;
        background-color: var(--slider--navigation-button-shadow-icon-color);
      }
.slider__1_8QU > .navigation > .button::after {
        background-color: var(--slider--navigation-button-icon-color);
      }
.slider__1_8QU > .numeration {
    position: absolute;
    left: 0;
    right: 0;
    bottom: var(--slider--pagination-bottom-indent);
    line-height: 16px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1c1c1c;
  }
.slider__1_8QU > .pagination {
    align-self: end;
    display: grid;
    grid-column-gap: var(--slider--pagination-gap);
    column-gap: var(--slider--pagination-gap);
    grid-auto-flow: column;
    margin-bottom: var(--slider--pagination-bottom-indent)
  }
.slider__1_8QU > .pagination > .button {
      z-index: 2;
      display: block;
      border: var(--slider--pagination-button-border-width) solid var(--slider--pagination-button-color);
      padding: var(--slider--pagination-button-padding);
      background-color: var(--slider--pagination-button-background-color);
      border-radius: 50%;
      cursor: pointer
    }
.slider__1_8QU > .pagination > .button:not(.is-selected) {
        --pseudo-opacity: 0;
      }
.slider__1_8QU > .pagination > .button.is-selected {
        --pseudo-opacity: 1;
      }
.slider__1_8QU > .pagination > .button::before {
        content: "";
        display: block;
        width: var(--slider--pagination-button-icon-size);
        height: var(--slider--pagination-button-icon-size);
        background-color: var(--slider--pagination-button-color);
        border-radius: inherit;
        opacity: var(--pseudo-opacity);
        transition-property: opacity;
        transition-duration: .2s;
        transition-timing-function: ease-in;
      }
.slider__1_8QU > .empty-message {
    display: grid;
    align-content: center;
    justify-content: center;
    place-content: center;
    height: 100%;
    line-height: 18px;
    font-size: 14px;
    text-align: center;
    color: #7f7f7f;
  }

.sizesField__1cCWN {
  --slider--list-gap: 4px;
  --slider--list-slide-width: calc((100% - var(--slider--list-gap)) / 2);
  --slider--list-width: calc(100% - var(--slider--navigation-button-size) * 2 - var(--slider--list-gap) * 2);
  --slider--navigation-button-size: 26px;
  --slider--navigation-button-icon-size: 8px;
  --slider--navigation-button-icon-image: var(--icon--image-slider-next)
}
.sizesField__1cCWN > .list {

  }
.sizesField__1cCWN > .navigation > .button {
      border-radius: 2px;
      box-shadow: 0 0 0 1px #1c1c1c inset;
      opacity: var(--opacity);
    }

.form__bmBT4 {
  display: grid;
  align-content: space-between;
  height: 134px;
  padding-top: 16px
}
.form__bmBT4 > .field {
    /* Safari */
    min-width: 0;
    margin-left: 12px;
    margin-right: 12px;
  }
.form__bmBT4 > .button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

.card__1OfeA {
  position: relative;
  display: block;
  padding-top: 36px;
  border-radius: 2px
}
.card__1OfeA:not(:hover) {
    --image-2-opacity: 0;
  }
.card__1OfeA:hover {
    --image-2-opacity: 1;
  }
.card__1OfeA > .picture {
    position: relative;
    display: block;
    margin-left: 20px;
    margin-right: 20px
  }
.card__1OfeA > .picture::before {
      content: "";
      display: block;
      padding-top: 150%;
    }
.card__1OfeA > .picture > .image, .card__1OfeA > .picture > .empty-message {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
.card__1OfeA > .picture > .image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      background-color: #fff
    }
.card__1OfeA > .picture > .image:nth-of-type(1) {

      }
@media (pointer: fine) {
  .card__1OfeA > .picture > .image:nth-of-type(2) {
          opacity: var(--image-2-opacity);
          transition-property: opacity;
          transition-duration: .2s;
          transition-timing-function: ease-in
      }
        }
@media (pointer: coarse) {
  .card__1OfeA > .picture > .image:nth-of-type(2) {
          display: none
      }
        }
.card__1OfeA > .picture > .empty-message {
      margin: -36px -20px -20px;
      background-color: #f8f8f8;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
.card__1OfeA > .section {
    display: grid;
    grid-row-gap: 3px;
    row-gap: 3px;
    justify-items: start;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 30px;
    padding-bottom: 20px
  }
.card__1OfeA > .section::before {
      content: "";
      justify-self: stretch;
      height: 1px;
      background-color: #e5e5e5;
      opacity: var(--section-pseudo-before-opacity);
      transition-property: opacity;
      transition-duration: .2s;
      transition-timing-function: ease-in;
    }
.card__1OfeA > .section > .vendor, .card__1OfeA > .section > .title {
      overflow: hidden;
      max-width: 100%;
      line-height: 16px;
      font-size: 10px;
      text-transform: uppercase;
      white-space: nowrap;
      text-overflow: ellipsis;
      letter-spacing: 1px;
      color: var(--color);
      transition-property: opacity;
      transition-duration: .2s;
      transition-timing-function: ease-in;
    }
.card__1OfeA > .section > .vendor {
      --color: #1c1c1c;
      margin-top: 6px
    }
@media (pointer: fine) {
  .card__1OfeA > .section > .vendor {
        opacity: var(--section-title-opacity)
    }
      }
.card__1OfeA > .section > .title {
      --color: #6e6e6e;
      cursor: pointer
    }
.card__1OfeA > .section > .title::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
@media (pointer: fine) {
  .card__1OfeA > .section > .title {
        opacity: var(--section-vendor-opacity)
    }
      }
.card__1OfeA > .section > .price {
      /* Custom propertie "--line-height" as used in the component "Placeholder". */
      --line-height: 16px;
      /* Custom propertie "--font-size" as used in the component "Placeholder". */
      --font-size: 10px;
      /* Custom propertie "--color" as used in the component "Placeholder". */
      --color: #1c1c1c;
    }
.card__1OfeA > .wish-button {
    --size: 36px;
    --icon--size: 14px;
    position: absolute;
    right: 4px;
    top: 4px;
    width: var(--size);
    height: var(--size);
  }
@media (pointer: fine) {
  .card__1OfeA > .form {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: var(--form-opacity);
      transition-property: opacity;
      transition-duration: .2s;
      transition-timing-function: ease-in
  }
    }
@media (pointer: coarse) {
  .card__1OfeA > .form {
      display: none
  }
    }
@media (pointer: fine) {
    .card__1OfeA:not(:hover) {
      --pseudo-before-opacity: 0;
      --section-pseudo-before-opacity: 1;
      --section-title-opacity: 1;
      --section-vendor-opacity: 1;
      --form-opacity: 0;
    }
    .card__1OfeA:hover {
      --pseudo-before-opacity: 1;
      --section-pseudo-before-opacity: 0;
      --section-title-opacity: 0;
      --section-vendor-opacity: 0;
      --form-opacity: 1;
    }
    .card__1OfeA::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: inherit;
      box-shadow:
        0 0 0 1px #e5e5e5 inset,
        0 2px 6px hsla(0, 0%, 0%, 0.25);
      opacity: var(--pseudo-before-opacity);
      transition-property: opacity;
      transition-duration: .2s;
      transition-timing-function: ease-in;
      pointer-events: none;
    }
  }
@media (max-width: 1023px) {
  .card__1OfeA {
}

  }
@media (min-width: 1024px) {
  .card__1OfeA {
    padding-bottom: 38px
}
  }

.wishButton__2J4M6 {
  display: grid;
  align-content: center;
  justify-content: center;
  place-content: center;
  cursor: pointer
}
.wishButton__2J4M6:not(.is-activated) {
    --icon-opaicty: 0;
  }
.wishButton__2J4M6.is-activated {
    --icon-opaicty: 1;
  }
.wishButton__2J4M6 > .icon {
    grid-area: 1 / 1 / -1 / -1
  }
.wishButton__2J4M6 > .icon:nth-of-type(2) {
      opacity: var(--icon-opaicty);
    }

.placeholder__2Vyi8 {
  pointer-events: none
}
.placeholder__2Vyi8 > .picture {
    background-color: #a1a1a1;
  }
.placeholder__2Vyi8 > .section > .vendor, .placeholder__2Vyi8 > .section > .title, .placeholder__2Vyi8 > .section > .price {
      background-color: currentColor;
    }
.placeholder__2Vyi8 > .section > .vendor {

    }
.placeholder__2Vyi8 > .section > .title {

    }
.placeholder__2Vyi8 > .section > .price {
      line-height: var(--line-height);
      font-size: var(--font-size);
      color: var(--color);
    }
.placeholder__2Vyi8 > .wish-button {
    display: grid;
    align-content: center;
    justify-content: center;
    place-content: center
  }
.placeholder__2Vyi8 > .wish-button::before {
      content: "";
      display: block;
      width: var(--icon--size);
      height: var(--icon--size);
      background-color: var(--icon--color-wish-fill);
      -webkit-mask-image: var(--icon--image-wish);
              mask-image: var(--icon--image-wish);
      filter: grayscale(100%);
    }

.list__1c9tB {
  display: grid;
  grid-row-gap: 24px;
  row-gap: 24px;
  grid-template-rows: auto auto 1fr auto;
  align-items: start
}
.list__1c9tB > .breadcrumbs {

  }
.list__1c9tB > .header {
    display: grid;
    box-shadow: 0 -1px #e5e5e5 inset
  }
.list__1c9tB > .header > .button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 34px;
      cursor: pointer
    }
.list__1c9tB > .header > .button:not(.is-collapsed) {
        --icons-icon-1-translate-x: 0;
        --icons-icon-2-translate-x: 24px;
        --icons-icon-1-opacity: 1;
        --icons-icon-2-opacity: 0;
      }
.list__1c9tB > .header > .button.is-collapsed {
        --icons-icon-1-translate-x: -24px;
        --icons-icon-2-translate-x: 0;
        --icons-icon-1-opacity: 0;
        --icons-icon-2-opacity: 1;
      }
.list__1c9tB > .header > .button > .title {
        line-height: 16px;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #1c1c1c;
      }
.list__1c9tB > .header > .button > .icons {
        display: grid
      }
.list__1c9tB > .header > .button > .icons > .icon {
          --icon--size: 14px;
          --icon--color: #777;
          grid-area: 1 / 1 / -1 / -1;
          transform: translateX(var(--translate-x));
          opacity: var(--opacity)
        }
.list__1c9tB > .header > .button > .icons > .icon:nth-of-type(1) {
            --translate-x: var(--icons-icon-1-translate-x);
            --opacity: var(--icons-icon-1-opacity);
          }
.list__1c9tB > .header > .button > .icons > .icon:nth-of-type(2) {
            --translate-x: var(--icons-icon-2-translate-x);
            --opacity: var(--icons-icon-2-opacity);
          }
.list__1c9tB > .header > .applied-filters {

    }
.list__1c9tB > .header > .field {

    }
.list__1c9tB > .sidebar {
    display: block;
    transform: translateX(var(--translate-x));
    opacity: var(--opacity);
    transition-property: transform, opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in;
    pointer-events: var(--pointer-events)
  }
.list__1c9tB > .sidebar > .active-layer {

    }
.list__1c9tB > .sidebar > .wrapper > .button-section {

      }
.list__1c9tB > .sidebar > .wrapper > .scroll {
        display: grid;
        grid-row-gap: 12px;
        row-gap: 12px
      }
.list__1c9tB > .sidebar > .wrapper > .scroll > .section > .header {

          }
.list__1c9tB > .sidebar > .wrapper > .scroll > .section > .list > .link {
              display: grid;
              justify-items: start;
              align-content: center;
              min-height: 18px;
              line-height: 14px;
              font-size: 10px;
              font-weight: var(--font-weight);
              text-transform: uppercase;
              -webkit-text-decoration: var(--text-decoration);
                      text-decoration: var(--text-decoration);
              letter-spacing: 1px;
              color: #1c1c1c;
              cursor: pointer;
              pointer-events: var(--pointer-events)
            }
.list__1c9tB > .sidebar > .wrapper > .scroll > .section > .list > .link:not(:hover) {
                --text-decoration: none;
              }
.list__1c9tB > .sidebar > .wrapper > .scroll > .section > .list > .link:hover {
                --text-decoration: underline;
              }
.list__1c9tB > .sidebar > .wrapper > .scroll > .section > .list > .link:not(.is-selected) {
                --font-weight: 400;
                --pointer-events: inherit;
              }
.list__1c9tB > .sidebar > .wrapper > .scroll > .section > .list > .link.is-selected {
                --font-weight: 700;
                --pointer-events: none;
              }
.list__1c9tB > .sidebar > .wrapper > .scroll > .section > .list > .field-wrapper {

            }
.list__1c9tB > .sidebar > .wrapper > .scroll > .divider {
          display: block;
          height: 1px;
          background-color: #e5e5e5;
        }
.list__1c9tB > .content {
    align-self: stretch;
    position: relative;
    display: grid;
    grid-row-gap: 24px;
    row-gap: 24px;
    align-content: start
  }
.list__1c9tB > .content > .list {
      display: grid;
      grid-gap: 12px;
      gap: 12px;
      align-content: inherit;
      opacity: var(--opacity);
      transition-property: opacity;
      transition-duration: .2s;
      transition-timing-function: ease-in
    }
.list__1c9tB > .content > .list:not(.is-muted) {
        --opacity: 1;
      }
.list__1c9tB > .content > .list.is-muted {
        --opacity: .25;
      }
.list__1c9tB > .content > .button {

    }
.list__1c9tB > .content > .empty-message {
      position: sticky;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 500px;
      max-height: 100vh;
    }
.list__1c9tB > .designers {

  }
@media (max-width: 1023px) {
    .list__1c9tB > .breadcrumbs {

    }
    .list__1c9tB > .header {
      grid-row-gap: 8px;
      row-gap: 8px;
      grid-template-columns: 100px 180px;
      justify-content: space-between
    }
      .list__1c9tB > .header > .button {
        grid-row: 1
      }
        .list__1c9tB > .header > .button.resolution--lg {
          display: none;
        }
      .list__1c9tB > .header > .applied-filters {
        grid-column: span 2;
        padding-top: 8px;
        padding-bottom: 8px;
        box-shadow: 0 -1px #e5e5e5;
      }
      .list__1c9tB > .header > .field {
        grid-row: 1;
      }
    .list__1c9tB > .sidebar {
      position: fixed;
      z-index: 2;
      left: 0;
      right: 48px;
      top: 0;
      bottom: 0
    }
      .list__1c9tB > .sidebar:not(.is-md-shown) {
        --translate-x: -24px;
        --opacity: 0;
        --pointer-events: none;
      }
      .list__1c9tB > .sidebar.is-md-shown {
        --translate-x: 0;
        --opacity: 1;
        --pointer-events: inherit;
      }
      .list__1c9tB > .sidebar > .active-layer {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100vw;
        background-color: hsla(0, 0%, 0%, 0.45);
        cursor: pointer;
      }
      .list__1c9tB > .sidebar > .wrapper {
        position: relative;
        z-index: 1;
        display: grid;
        grid-row-gap: 16px;
        row-gap: 16px;
        grid-template-rows: 60px 1fr;
        height: 100%;
        background-color: #fff
      }
        .list__1c9tB > .sidebar > .wrapper > .button-section, .list__1c9tB > .sidebar > .wrapper > .scroll {
          padding-left: 16px;
          padding-right: 16px;
        }
        .list__1c9tB > .sidebar > .wrapper > .button-section {
          display: grid;
          justify-content: end;
          align-content: center;
          box-shadow: 0 -1px #e5e5e5 inset
        }
          .list__1c9tB > .sidebar > .wrapper > .button-section > .button {
            --icon--size: 16px;
            --icon--color: #777;
            margin: -4px;
            padding: 4px;
            cursor: pointer;
          }
        .list__1c9tB > .sidebar > .wrapper > .scroll {
          overflow-x: hidden;
          overflow-y: auto;
          overflow: hidden auto;
          align-content: start
        }
            .list__1c9tB > .sidebar > .wrapper > .scroll > .section:nth-last-of-type(1) {
              margin-bottom: 16px;
            }
          .list__1c9tB > .sidebar > .wrapper > .scroll > .divider {

          }
      .list__1c9tB > .content > .list {
        grid-template-columns: repeat(2, 1fr);
      }
      .list__1c9tB > .content > .button {
        --button--width: 100%;
      }
      .list__1c9tB > .content > .empty-message {

      }
    .list__1c9tB > .designers {

    }
  }
@media (min-width: 1024px) {
  .list__1c9tB {
    --sidebar-width: 180px;
    grid-column-gap: var(--column-gap);
    column-gap: var(--column-gap);
    grid-template-columns: 0 1fr;
    transition-property: column-gap;
    transition-duration: .2s;
    transition-timing-function: ease-in
}
    .list__1c9tB:not(.has-sidebar) {
      --column-gap: 0;
    }
    .list__1c9tB.has-sidebar {
      --column-gap: calc(var(--sidebar-width) + 18px);
    }
    .list__1c9tB > .breadcrumbs {
      grid-column: span 2;
    }
    .list__1c9tB > .header {
      grid-column: span 2;
      grid-column-gap: 30px;
      column-gap: 30px;
      grid-template-columns: 180px 1fr 180px;
      align-items: end
    }
        .list__1c9tB > .header > .button.resolution--md {
          display: none;
        }
      .list__1c9tB > .header > .applied-filters {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .list__1c9tB > .header > .field {

      }
    .list__1c9tB > .sidebar {
      width: var(--sidebar-width)
    }
      .list__1c9tB > .sidebar:not(.is-lg-shown) {
        --translate-x: -24px;
        --opacity: 0;
        --pointer-events: none;
      }
      .list__1c9tB > .sidebar.is-lg-shown {
        --translate-x: 0;
        --opacity: 1;
        --pointer-events: inherit;
      }
      .list__1c9tB > .sidebar > .active-layer {
        display: none;
      }
      .list__1c9tB > .sidebar > .wrapper {
        display: contents
      }
        .list__1c9tB > .sidebar > .wrapper > .button-section {
          display: none;
        }
        .list__1c9tB > .sidebar > .wrapper > .scroll {

        }
      .list__1c9tB > .content > .list {
        grid-template-columns: repeat(6, 1fr);
      }
      .list__1c9tB > .content > .button {
        justify-self: end;
      }
      .list__1c9tB > .content > .empty-message {

      }
    .list__1c9tB > .designers {
      grid-column: span 2;
    }
  }

