.creatingCustomerAddressForm:global {
  display: grid;
  row-gap: 12px;
  & > .error-message {
    display: grid;
    row-gap: 12px;
    & > .row {
      line-height: 16px;
      font-size: 10px;
      text-align: center;
      letter-spacing: .32px;
      color: #bc1b1b;
    }
  }
  & > .form {

  }
}
